/* || Band's Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px 0px 0px;
    margin: 40px 20px 16px;
    min-height: 175px;

    text-align: center;
}

.footer__brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: auto;
}

.footer__brand-img {
    /* width: clamp(48px, 151px, auto);
    height: auto; */
    width: 83px;
    height: 83px;
}