/* || Header */
.header {
    display: flex;
    justify-content: center;
    background: var(--color-dark-gray);
}


/* Nav container */
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: inherit;
    width: 1100px;
    height: 94px;
    margin: 0 20px;
}

/* Hide humburger-icon  */
.header__menu__hamburger-icon {
    border-radius: 10px;
    padding: 4px 6px;
    display: none;
}

/* Left item of header: Logo */
.header__menu__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding: 12px 0;
    margin-right: 72px;

    color: #FFFFFF;

    font-weight: 600;
    font-size: 18px;
    line-height: 30px;

    text-align: center;

    transition: .3s;
}

.header__menu__logo::before {
    content: "";
    background: url("/assets/img/logo-site.svg");
    display: inline-block;
    background-repeat: no-repeat;
    width: 34px;
    height: 20px;
    left: 0;
    top: 0;
}

.header__menu__logo:hover {
    opacity: 0.8;
}


/* Center items of header: List of links */
.header__menu__links {
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding: 0 20px;
}

.header__menu__links__item {
    color: #fff;

    font-family: var(--font-family-montserrat);
    font-weight: 500;
    line-height: 20px;
    padding: 12px 0;
    white-space: nowrap;

    transition: .3s;
}

.header__menu__links__item:hover {
    color: var(--color-red-hover)
}

.header__menu__links__item--active,
.header__menu__links__item--active:hover {
    color: var(--color-red);
    font-weight: 700;
}


/* Rigth item of Header: Sign-Up Button*/
.header__menu__btn-sign-up {
    background: var(--color-red);
    border-radius: 10px;
    padding: 3px 28px;
    margin-left: 72px;

    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;

    text-align: center;
    white-space: nowrap;

    transition: .3s;
}

.header__menu__btn-sign-up:hover {
    background: var(--color-red-hover);
}