/* || Band's Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px 0px 0px;
    margin: 90px 10px 16px;

    text-align: center;
}

.footer__brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: auto;
}

.footer__brand-img {
    width: 100px;
    height: auto;
}