/* || Main Content */
.main-content {
    display: flex;
    justify-content: center;
    margin: 58px 0 145px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

.main-content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
    align-items: center;
    row-gap: 24px;
    max-width: 800px;
    box-sizing: border-box;
}

.main-content__company-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.main-content__company-offer {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.main-content__company-overview {
    line-height: 150%;
}

.main-content__container-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.main-content__btn {
    display: inline-block;
    border-radius: 10px;

    margin-bottom: 0;

    color: #fff;
    background: var(--color-red);
    padding: 3px 28px;

    font-family: var(--font-family-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;

    user-select: none;
    transition: .3s;
}

.main-content__btn:hover {
    background: var(--color-red-hover);
}

.main-content__btn--rent:hover {
    background: #0249FF;
}



/* || Company Achievements */
.achievements {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    gap: 32px;
    flex-wrap: wrap;
    text-align: center;
    white-space: nowrap;
}

.achievements__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    row-gap: 10px;

    background: var(--color-dark-gray);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    box-sizing: border-box;
    width: 340px;
}

.achievements__card__num {
    color: #d0d0d2;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.achievements__card__subject {
    color: #bcbcbe;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}



/* || Resposive */

@media screen and (max-width: 840px) {

    /* || Header and Menu */

    .header__menu__hamburger-icon {
        display: block;
        z-index: 1;
    }

    .header__menu__logo {
        /* To put the logo in the center of the nav*/
        flex-grow: 1;
        margin: 0;

        /* Resize site logo (text) */
        font-size: clamp(16px, 2.2vw, 18px);
    }

    .header__menu__btn-sign-up {
        /* To put the site logo in the center of the menu */
        margin: 0;
        /* Resize the sign-up button */
        font-size: clamp(14px, 2vw, 18px);
        padding: 0 1.6em;
    }

    .header__menu__links {
        position: absolute;
        top: 18px;
        left: -9px;
        width: 50vw;
        height: 55vh;

        /* Will be displayed when click on the humburger icon */
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 16px;

        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

        background: #22171aca;
        backdrop-filter: blur(6px);

        font-size: clamp(16px, 3.8vw, 24px);
    }


    /* || Main content */
    .main-content {
        white-space: normal;
        margin-top: clamp(28px, 6.8vw, 58px);
        margin-bottom: clamp(60px, 17vw, 145px);
    }

    .main-content__wrapper {
        row-gap: clamp(14px, 3vw, 24px);
    }

    .main-content__company-name {
        font-size: clamp(18px, 2.8vw, 24px);
    }

    .main-content__company-offer {
        font-size: clamp(24px, 6vw, 48px);
        line-height: clamp(30px, 6.8vw, 58px);
    }

    .main-content__company-overview {
        font-size: clamp(14px, 2vw, 16px);
    }

    .main-content__btn {
        font-size: clamp(14px, 2vw, 18px);
        padding: 0 1.6em;
    }


    /* || Achievements */
    .achievements {
        flex-direction: column;
        align-content: center;
        white-space: normal;

    }

    .achievements__card {
        width: clamp(168px, 40vw, 340px);
    }

    .achievements__card__num {
        font-size: clamp(24px, 3.8vw, 32px);
        line-height: clamp(22px, 4.5vw, 39px);
    }

    .achievements__card__subject {
        font-size: clamp(14px, 2vw, 18px);
    }


    /* || Brand's Footer */
    .footer {
        gap: clamp(16px, 3.8vw, 30px);
        margin-top: clamp(20px, 8vw, 90px);
    }

    .footer__brand-container {
        width: clamp(60px, 22vw, 150px);
    }

    .footer__brand-img {
        width: clamp(48px, 12vw, 100px);
    }
}

@media screen and (max-width: 380px) {
    .header__menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 16px;
    }

    .header__menu__links {
        top: 55px;
        left: 0;
        width: 80vw;
    }

    .header__menu__hamburger-icon {
        width: 36px;
        top: 16px;
        left: 0px;
        position: absolute;

    }

    .header__menu__btn-sign-up {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 250px) {
    .header__menu__logo {
        margin-top: 40px;
    }
}